
table.formtable {
    width: 100%;
    padding: 10px;
}

table.formtable td {
    padding: 10px;
}

.card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 0.2em 1em 0.7em 1em;
}

.card-message-small {
    margin-top: 0.7em;
}

.footer {
    margin-top: 2em;
    margin-bottom: 4em;
}

.footer div {
    text-align: right;
}

.top-buffer {
    margin-top: 1em;
}

.reservationRow {
    cursor: pointer;
}

.reservationRow :hover {
    cursor: pointer;
    background: rgba(98, 111, 255, 0.36);
}

a.glyphicon {
    text-decoration: none !important;
}

.fc-list-item-title.fc-widget-content a {
    cursor: pointer;
}

a.fc-day-number {
    text-decoration: none !important;
}

.errorMessageBlock {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.errorMessageBlock .alert-warning {
    background: #f2dede;
    color: #a94442;
}

.errorMessageBlock p {
    margin: 0.7em;
}

.errorMessageBlock h4 {
    margin: 0.4em;
}