
table.formtable {
    width: 100%;
    padding: 10px;
}

table.formtable td {
    padding: 10px;
}

.card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 0.2em 1em 0.7em 1em;
}

.card-message-small {
    margin-top: 0.7em;
}

.footer {
    margin-top: 3em;
    margin-bottom: 4em;
}

.footer div {
    text-align: center;
    font-size: 0.8em;
    color: darkgray;
}

.footer a {
    color: #147f6b;
}

.top-buffer {
    margin-top: 1em;
}

.reservationRow {
    cursor: pointer;
}

.reservationRow :hover {
    cursor: pointer;
    background: rgba(98, 111, 255, 0.36);
}

a.glyphicon {
    text-decoration: none !important;
}

.fc-list-item-title.fc-widget-content a {
    cursor: pointer;
}

a.fc-day-number {
    text-decoration: none !important;
}

.errorMessageBlock {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background: #f2dede;
    color: #a94442;
}

.errorMessageBlock p {
    margin: 0.7em;
}

.errorMessageBlock a {
    color: #a94442;
    font-weight: bold;
}

.errorMessageBlock h4 {
    margin: 0.4em;
}

.informationMessageBlock {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background: #d9edf7;
    color: #31708f;
}

.informationMessageBlock p {
    margin: 0.7em;
}

.informationMessageBlock h4 {
    margin: 0.4em;
}

.formError {
    margin: 1em 1em 1em 0.3em;
    border-left: 0.5em solid darkred;
    padding-left: 1em;
    color: darkred;
}

.formInformation {
    margin: 1em 1em 1em 0.3em;
    border-left: 0.5em solid darkblue;
    padding-left: 1em;
    color: darkblue;
}

.main-menu-item .caption {
    text-align: center;
}

.main-menu-item {
    text-align: center;
}

.mainmenu a {
    color: navy;
    text-decoration: none;
}

.mainmenu a:hover {
    color: #0000bd;
    text-decoration: underline;
}

.mainmenu img {
    border: none;
    margin: 1em;
}

.menu-row-title {
    text-align: left;
    padding: 1em;
    padding-bottom: 0.6em;
}

.adviceBlock {
    margin: 0.5em;
    padding: 1em;
    color: #424242;
    border: 1px solid darkgray;
    border-left: 1em solid darkgray;
}

.light-warning {
    margin: 0.5em;
    padding: 1em;
    color: #424242;
    border-left: 1em solid #8e8e00;
}

.hide-fc-time .fc-time{
    display: none;
}
.hide-fc-time .fc-list-item-time{
    display: none;
}

.pagination-bottom-bar a{
    text-decoration: none;
}

.information-icon{
    cursor: default;
    margin: 1em;
}