<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Accommodations</title>

    <script th:replace="main-template :: page-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1>Accommodations</h1>

            <div th:replace="main-template :: accommodations-list (accommodationsList=${accommodationsList})"></div>

        </div>

    </div>

    <!--<div th:replace="fragments/show-debug :: debug"></div>-->

</div>

</body>
</html>