<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accommodation calendar</title>

    <script th:replace="main-template :: page-headers"></script>

    <script th:replace="fragments/calendar-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Accommodation calendar</h1>

            <div th:replace="main-template :: advice-block (adviceMessage=${'Select an accomodation in list
                below to show which reservations are scheduled.'})"></div>

            <table style="margin: 1em; width: 90%; margin-bottom: 3em;">
                <tr>
                    <td style="width: 30%">Select accomodation:</td>
                    <td>
                        <select class="form-control" id="calendarAccommodationSelect">
                            <option value="-1" th:text="'All'"></option>
                            <option th:each="accommodation : ${accommodationsList}"
                                    th:value="${accommodation.getId()}"
                                    th:text="${accommodation.getName()}">Accommodation name
                            </option>
                        </select>
                    </td>
                </tr>
            </table>

            <div id='accommodationsCalendar' style="margin: auto"></div>

        </div>
    </div>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

    <script type="text/javascript">
        $(function () {

            CalendarUtils.createAccommodationCalendar("#accommodationsCalendar", "#calendarAccommodationSelect");

            // refresh calendar on change
            $("#calendarAccommodationSelect").change(function () {
                $("#accommodationsCalendar").fullCalendar('refetchEvents');
            });

        });
    </script>

</div>

</body>
</html>