<html>
<body>
<form action="#" th:action="@{/reservation/form}" th:object="${reservationForm}" method="post">

    <div th:text="${reservationForm}"></div>
    <div th:text="${reservationResults}"></div>

    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{customerFirstname}" /></td>
            <td th:if="${#fields.hasErrors('customerFirstname')}" th:errors="*{customerFirstname}">First name error</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{customerLastname}" /></td>
            <td th:if="${#fields.hasErrors('customerLastname')}" th:errors="*{customerLastname}">Last name error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>