<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Administration</title>

    <script th:replace="main-template :: page-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Administration</h1>
        </div>

        <div class="col-md-12">

            <h3>Language</h3>

            <table class="formtable">
                <tr>
                    <td style="width: 15%;">
                        Select language:
                    </td>

                    <td>
                        <select class="form-control">
                            <option value="0">English</option>
                        </select>
                    </td>

                    <td style="text-align: right">
                        <button type="button" class="btn btn-primary">Change language</button>
                    </td>
                </tr>
            </table>

        </div>

        <div class="col-md-12">

            <h3>Export reservations</h3>

            <table class="formtable">
                <!-- Begin and end date-->
                <tr>
                    <td>
                        <input class="form-control" id="exportReservationBeginDate" placeholder="Begin date"
                               readonly="true"/>
                    </td>

                    <td>
                        <input class="form-control" id="exportReservationEndDate" placeholder="End date"
                               readonly="true"/>
                    </td>

                    <td style="text-align: right">
                        <button type="button" id="exportReservationValidButton" class="btn btn-primary">Export
                            reservations
                        </button>
                    </td>
                </tr>
            </table>

        </div>

        <div class="col-md-12">

            <h3>Export services</h3>

            <table class="formtable">
                <!-- Begin and end date-->
                <tr>
                    <td>
                        <input class="form-control" id="exportServiceBeginDate" placeholder="Begin date"
                               readonly="true"/>
                    </td>

                    <td>
                        <input class="form-control" id="exportServiceEndDate" placeholder="End date" readonly="true"/>
                    </td>

                    <td style="text-align: right">
                        <button type="button" id="exportServiceValidButton" class="btn btn-primary">Export services
                        </button>
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <script src="/assets/scripts/admin-page.js"></script>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

    <!--<div th:replace="fragments/show-debug :: debug"></div>-->

</div>


</body>
</html>