<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Bill</title>

    <link rel="stylesheet" href="/assets/css/bill.css" type="text/css"/>

</head>
<body>

<table id="mainTable">
    <tr>
        <td><h1>Recapitulative invoice</h1></td>
    </tr>


    <!-- Customer -->
    <tr>
        <td><h3>Customer</h3></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${customer?.getNameString()}">Jean Paul</td>
    </tr>

    <!-- Reservations -->
    <tr>
        <td><h3>Reservations</h3></td>
    </tr>
    <tr th:each="res : ${reservations}">
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td style="width: 25%">Begin:</td>
                    <td th:text="${#dates.format(res.getBegin(), 'dd/MM/yyyy')}">15/08/2018</td>
                </tr>
                <tr>
                    <td>End:</td>
                    <td th:text="${#dates.format(res.getEnd(), 'dd/MM/yyyy')}">15/08/2018</td>
                </tr>
                <tr>
                    <td>Place:</td>
                    <td th:text="${res.getResource().getName()}">15/08/20</td>
                </tr>
                <tr>
                    <td>Duration (days):</td>
                    <td th:text="${res.getDuration().getStandardDays()}">15/08/2018</td>
                </tr>
                <tr>
                    <td>Price per day:</td>
                    <td th:text="${res.getResource().getPricePerDay()}">15</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>

    <!-- Services  -->
    <tr>
        <td><h3>Services</h3></td>
    </tr>
    <tr>
        <td colspan="2">
            <table style="width: 100%" th:if="${#lists.isEmpty(services) == false}">
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Date</td>
                </tr>
                <tr th:each="srv : ${services}">
                    <td th:text="${srv.getServiceType().getName()}">Meal</td>
                    <td th:text="${srv.getTotalPrice()}">Meal</td>
                    <td th:text="${#dates.format(srv.getPurchaseDate(), 'dd/MM/yyyy')}">15/01/17</td>
                </tr>
            </table>

            <div th:if="${#lists.isEmpty(services)}">
                No service found.
            </div>
        </td>
    </tr>

    <!-- Total -->
    <tr>
        <td><h4>Total</h4></td>
    </tr>
    <tr>
        <td>Total price:</td>
        <td th:text="${totalPrice}">15</td>
    </tr>

</table>

<!--<div th:replace="fragments/show-debug :: debug"></div>-->

<script>
    window.print();
</script>

</body>
</html>