<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Show rooms</title>

    <script th:replace="main-template :: page-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1>Rooms</h1>

            <div th:replace="main-template :: resources-list (resourcesList=${roomsList})"></div>

        </div>

    </div>
</div>

</body>
</html>