<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Resource form</title>

    <script th:replace="main-template :: page-headers"></script>

    <script th:replace="fragments/resource-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <!-- Resource form -->

    <div class="row">
        <div class="col-md-12" th:if="${#strings.isEmpty(formstate)}">

            <h1>Resource form</h1>

            <div th:replace="fragments/resource-form :: resource-form"></div>

        </div>
    </div>

    <!-- Resource saved -->

    <div class="row">
        <div class="col-md-12" th:if="${formstate?.equals('completed')}">

            <h1>Resource</h1>

            <!-- Error happen when saved -->

            <div th:if="${not #strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: error-block (errorMessage=${errorMessage})"></div>
            </div>

            <!-- Resource saved -->

            <div th:if="${#strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: information-block (informationMessage=${'Resource saved'})"></div>
            </div>

            <div th:if="${#strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: resource-simple (resource=${resource})"></div>
            </div>

        </div>
    </div>


    <!-- Resource deleted -->

    <div class="row" th:if="${formstate?.equals('deleted')}">
        <div class="col-md-12">

            <h1>Resource</h1>

            <!-- Error happen -->

            <div th:if="${not #strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: error-block (errorMessage=${errorMessage})"></div>
            </div>

            <!-- No errors -->

            <div th:if="${#strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: information-block (informationMessage=${'Resource deleted'})"></div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

</div>

</body>
</html>