<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resource</title>

    <script th:replace="main-template :: page-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Resource</h1>

            <!-- Error happen -->

            <div th:if="${not #strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: error-block (errorMessage=${errorMessage})"></div>
            </div>

            <!-- No errors -->

            <div th:if="${#strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: information-block (informationMessage=${'Resource deleted'})"></div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

</div>

</body>
</html>