<link rel="stylesheet" type="text/css" href="/bower_components/jquery-ui/themes/base/jquery-ui.css"/>
<link rel='stylesheet' href='/bower_components/fullcalendar/dist/fullcalendar.css'/>
<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>

<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src='/bower_components/moment/moment.js'></script>
<script src='/bower_components/fullcalendar/dist/fullcalendar.js'></script>