<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<!--

    Need ReservationUtils

-->

<form th:object="${reservationForm}" method="post" th:fragment="reservation-form">

    <!--

    Only one form is allowed per page

    -->

    <table class="formtable">

        <!-- First name -->
        <tr>
            <td colspan="2">
                <input type="text" id="customerFirstname" class="form-control" placeholder="First name"
                       th:field="*{customerFirstname}"/>
                <div th:if="${#fields.hasErrors('customerFirstname')}" th:errors="*{customerFirstname}"
                     class="formError">
                    First name error
                </div>
            </td>
        </tr>

        <!-- Last name -->
        <tr>
            <td colspan="2">
                <input type="text" id="customerLastname" class="form-control" placeholder="Last name"
                       th:field="*{customerLastname}"/>
                <div th:if="${#fields.hasErrors('customerLastname')}" th:errors="*{customerLastname}" class="formError">
                    Last name error
                </div>
            </td>
        </tr>

        <!-- Phone number -->
        <tr>
            <td colspan="2">
                <input type="text" id="reservationCustomerPhonenumber" class="form-control" placeholder="Phone number"
                       th:field="*{customerPhonenumber}"/>
                <div th:if="${#fields.hasErrors('customerPhonenumber')}" th:errors="*{customerPhonenumber}"
                     class="formError">
                    Phone number error
                </div>
                <div class="formInformation" id="reservationCustomerPhonenumberWarning"></div>
            </td>
        </tr>

        <!-- Places -->
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" placeholder="Number of places" th:field="*{places}"
                       id="reservationPlaces"/>
                <div th:if="${#fields.hasErrors('places')}" th:errors="*{places}" class="formError">
                    Places errors
                </div>
            </td>
        </tr>

        <!-- Dates check-in / check-out-->

        <tr>
            <td style="width: 50%">
                <input type="text" th:field="*{begin}" class="form-control" id="reservationBeginDate"
                       placeholder="Check-in" readonly="readonly"/>
            </td>
            <td>
                <input type="text" th:field="*{end}" class="form-control" id="reservationEndDate"
                       placeholder="Check-out" readonly="readonly"/>
            </td>
        </tr>

        <!-- Dates errors -->
        <tr>
            <td colspan="2" th:if="${#fields.hasErrors('begin') or #fields.hasErrors('end')}">
                <div class="formError" th:if="${#fields.hasErrors('begin') or #fields.hasErrors('end')}">
                    <span th:if="${#fields.hasErrors('begin')}" th:text="'Invalid check-in date.'">Check-in error</span>&nbsp;
                    <span th:if="${#fields.hasErrors('end')}" th:text="'Invalid check-out date.'">Check-out error</span>&nbsp;
                </div>
            </td>
        </tr>

        <!-- Reservation is paid -->

        <tr>
            <td colspan="2">
                <fieldset>
                    <input type="checkbox" id="reservationIsPaid" th:field="*{paid}"/>
                    <label for="reservationIsPaid">&nbsp;&nbsp;&nbsp; Reservation is paid</label>
                </fieldset>
            </td>
        </tr>

        <!-- Resources-->

        <tr>
            <td>
                Resource for rent:
            </td>
            <td>
                <select class="form-control" id="reservationSharedResourceSelect" th:field="*{sharedResourceId}"
                        th:attr="data-primary-value=${primaryResourceId}, data-primary-name=${primaryResourceName}" required="true">
                    <option th:each="resource : ${sharedResources}"
                            th:value="${resource.getId()}"
                            th:text="${resource.getName()}">Resource name
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td style="text-align: right">
                <a id="checkAvailabilityButton" class="glyphicon glyphicon-refresh" style="display: inline-block; cursor: pointer"></a>
            </td>
        </tr>

        <!-- Comment-->

        <tr>
            <td colspan="2">
                <textarea class="form-control" placeholder="Comment" th:field="*{comment}"></textarea>
                <div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="formError">
                    Comment error
                </div>
            </td>
        </tr>

        <!-- Token and submit button -->

        <tr>
            <td colspan="2" style="text-align: right">

                <!-- Add control token -->
                <input type="hidden" id="reservationToken" name="token" th:value="${token}"/>

                <!-- Add reservation and cutomer id -->
                <input type="hidden" id="reservationId" th:field="*{reservationId}"/>
                <input type="hidden" id="customerId" th:field="*{customerId}"/>

                <!-- Delete buttons, only if needed -->
                <button th:if="*{reservationId != -1}"
                        type="button" id="reservationDeleteButton"
                        class="btn btn-primary glyphicon glyphicon-trash"></button>

                <!-- Save button -->
                <button type="submit" class="btn btn-primary">Save reservation</button>

            </td>
        </tr>

    </table>

    <script src="/assets/scripts/reservation-form.js"></script>

</form>
</body>
</html>