<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<!--

    Need ReservationUtils

-->

<form th:object="${createReservationForm}" method="post" th:fragment="reservation-form">

    <!--

    Only one form is allowed per page

    -->

    <table class="formtable">

        <!-- First name -->
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" placeholder="First name" th:field="*{customerFirstname}"/>
                <div th:if="${#fields.hasErrors('customerFirstname')}" th:errors="*{customerFirstname}">
                    First name error
                </div>
            </td>
        </tr>

        <!-- Last name -->
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" placeholder="Last name" th:field="*{customerLastname}"/>
                <div th:if="${#fields.hasErrors('customerLastname')}" th:errors="*{customerLastname}">Last name error
                </div>
            </td>
        </tr>

        <!-- Phone number -->
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" placeholder="Phone number" th:field="*{customerPhonenumber}"/>
                <div th:if="${#fields.hasErrors('customerPhonenumber')}" th:errors="*{customerPhonenumber}">Phone number
                    error
                </div>
            </td>
        </tr>

        <!-- Places -->
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" placeholder="Number of places" th:field="*{places}"
                       id="reservationPlaces"/>
                <div th:if="${#fields.hasErrors('places')}" th:errors="*{places}">
                    Places errors
                </div>
            </td>
        </tr>

        <!-- Dates arrival / departure-->

        <tr>
            <td>
                <input type="text" th:field="*{begin}" class="form-control" id="reservationBeginDate"
                       placeholder="Arrival"
                       readonly="readonly"/>
            </td>
            <td>
                <input type="text" th:field="*{end}" class="form-control" id="reservationEndDate"
                       placeholder="Departure"
                       readonly="readonly"/>
            </td>
        </tr>

        <!-- Resources-->

        <tr>
            <td>
                Room:
            </td>
            <td>
                <select id="reservationSharedResourceSelect" class="form-control" th:field="*{sharedResourceId}">
                    <option th:each="resource : ${sharedResources}"
                            th:value="${resource.getId()}"
                            th:text="${resource.getName()}">Resource name
                    </option>
                </select>
            </td>

        </tr>

        <tr>
            <td colspan="2">
                <div th:if="${#fields.hasErrors('sharedResourceId')}" th:errors="*{sharedResourceId}">
                    Shared resource error
                </div>
                <div th:if="${#fields.hasErrors('begin')}" th:errors="*{begin}">Arrival error</div>
                <div th:if="${#fields.hasErrors('end')}" th:errors="*{end}">Departure error</div>
                <div th:if="${#fields.hasErrors('token')}" th:text="'Please update form and try again'">Token error
                </div>
                <div th:if="${errorMessage == null || errorMessage.isEmpty() == false}" th:text="${errorMessage}">Error
                    message
                </div>
            </td>
        </tr>

        <!-- Token and submit button -->

        <tr>
            <td colspan="2" style="text-align: right">

                <!-- Add control token -->
                <input type="hidden" name="token" th:value="${token}"/>

                <!-- Add reservation id -->
                <input type="hidden" id="reservationId" th:field="*{reservationId}"/>

                <button type="button" id="deletebutton" class="btn btn-primary glyphicon glyphicon-trash"></button>
                <button type="submit" class="btn btn-primary">Save reservation</button>
            </td>
        </tr>

    </table>

    <script src="/assets/scripts/reservation-form.js"></script>

</form>
</body>
</html>