<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<form th:object="${resourceForm}" method="post" th:fragment="resource-form">

    <table class="formtable">

        <!-- Resource name -->
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" placeholder="Resource name" th:field="*{name}"/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="formError">
                    Name error
                </div>
            </td>
        </tr>

        <!-- Resource comment -->
        <tr>
            <td colspan="2">
                <textarea class="form-control" placeholder="Comment" th:field="*{comment}"></textarea>
                <div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="formError">
                    Comment error
                </div>
            </td>
        </tr>

        <!-- Resource places -->
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" placeholder="Maximum places available" th:field="*{places}"/>
                <div th:if="${#fields.hasErrors('places')}" th:errors="*{places}" class="formError">
                    Places error
                </div>
            </td>
        </tr>

        <!-- Resource type -->
        <tr>
            <td>
                Resource type:
            </td>
            <td>
                <select class="form-control" th:field="*{type}">
                    <option th:each="type : ${sharedResourceTypes}"
                            th:value="${type.toString()}"
                            th:text="${type.getReadableName()}">Resource name
                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="formError">
                    Type error
                </div>
            </td>
        </tr>

        <!-- Resource color -->
        <tr>
            <td>
                Associated color:
            </td>
            <td>
                <select class="form-control" th:field="*{color}" required="true">
                    <option th:each="color : ${defaultDarkColors}"
                            th:style="${'color: ' + color.toHexadecimal()}"
                            th:value="${color.toRgbString()}"
                            th:text="${color.getName()}">Resource color

                    </option>
                </select>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <div th:if="${#fields.hasErrors('color')}" th:errors="*{color}" class="formError">
                    Color error
                </div>
            </td>
        </tr>

        <!-- Token and submit button -->

        <tr>
            <td colspan="2" style="text-align: right">

                <!-- Add control token -->
                <input type="hidden" id="resourceToken" name="token" th:value="${token}"/>

                <!-- Add resource id -->
                <input type="hidden" id="resourceId" th:field="*{id}"/>

                <!-- Delete buttons, only if needed -->
                <button th:if="*{id != -1}"
                        type="button" id="resourceDeleteButton"
                        class="btn btn-primary glyphicon glyphicon-trash"></button>

                <button type="submit" class="btn btn-primary">Save</button>

            </td>
        </tr>

    </table>

    <script src="/assets/scripts/resource-form.js"></script>

    <!--<div th:replace="fragments/show-debug :: debug"></div>-->

</form>

</body>
</html>
