<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<form th:object="${merchantServiceTypeForm}" method="post" th:fragment="service-type-form">

    <table class="formtable">

        <!-- Service name -->
        <tr>
            <td colspan="2">
                <input type="text" class="form-control" placeholder="Service name" th:field="*{name}"/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="formError">
                    Service name error
                </div>
            </td>
        </tr>

        <!-- Service price  -->

        <tr>
            <td colspan="2">
                <input type="text" class="form-control" placeholder="Service price" th:field="*{price}"/>
                <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="formError">
                    Price error
                </div>
            </td>
        </tr>

        <!-- Service color -->

        <tr>
            <td>
                Associated color:
            </td>
            <td>
                <select class="form-control" th:field="*{color}" required="true">
                    <option th:each="color : ${defaultDarkColors}"
                            th:style="${'color: ' + color.toHexadecimal()}"
                            th:value="${color.toRgbString()}"
                            th:text="${color.getName()}">Service color

                    </option>
                </select>
            </td>
        </tr>

        <!-- Comment-->

        <tr>
            <td colspan="2">
                <textarea class="form-control" placeholder="Comment" th:field="*{comment}"></textarea>
                <div th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}" class="formError">
                    Comment error
                </div>
            </td>
        </tr>

        <!-- Token and submit button -->
        <tr>
            <td colspan="2" style="text-align: right">

                <!-- Add control token -->
                <input type="hidden" id="serviceTypeToken" name="token" th:value="${token}"/>

                <!-- Add resource id -->
                <input type="hidden" id="serviceTypeId" th:field="*{id}"/>

                <!-- Delete buttons, only if needed -->
                <button th:if="*{id != -1}"
                        type="button" id="serviceTypeDeleteButton"
                        class="btn btn-primary glyphicon glyphicon-trash"></button>

                <button type="submit" class="btn btn-primary">Save</button>

            </td>
        </tr>

    </table>

    <script src="/assets/scripts/service-type-form.js"></script>

</form>

</body>
</html>
