<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <div th:replace="fragments/headers"></div>

    <script>
        $(function () {
            $("#departure").datepicker();
            $("#arrival").datepicker();
        });

    </script>

</head>
<body>

<!-- include nav bar -->
<div th:replace="fragments/navbar"></div>

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1>Effectuer une réservation</h1>

            <form action="#" th:action="@{/reservation/confirm}" th:object="${reservationForm}" method="get">
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" th:field="*{customerFirstname}" /></td>
                        <td th:if="${#fields.hasErrors('customerFirstname')}" th:errors="*{customerFirstname}">Name Error</td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td><input type="text" th:field="*{customerLastname}" /></td>
                        <td th:if="${#fields.hasErrors('customerFirstname')}" th:errors="*{customerFirstname}">Age Error</td>
                    </tr>
                    <tr>
                        <td><button type="submit">Submit</button></td>
                    </tr>
                </table>
            </form>

            <!--
            <form action="/reservation/confirm" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="lastname" placeholder="Name"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="firstname" placeholder="First name"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="phonenumber" placeholder="Phone number"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="arrival" id="arrival" readonly="readonly"
                           placeholder="Arrival date"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="departure" id="departure" readonly="readonly"
                           placeholder="Departure date"/>
                </div>

                Add control token
                <input type="hidden" name="token" th:value="${token}"/>

                <button type="valid" class="btn btn-primary">Réserver</button>
                 </form>
                -->

        </div>
    </div>
</div>

</body>
</html>