<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Dashboard</title>

    <script th:replace="main-template :: page-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Welcome</h1>
        </div>

        <!-- Next checkouts -->

        <div class="col-md-12">

            <h2>Next checkouts</h2>

            <div th:replace="main-template :: checkouts-list (reservationsList=${nextCheckoutsList})"></div>

            <div th:replace="main-template :: button-view-more-checkouts"></div>

        </div>

        <!-- Last reservations -->

        <div class="col-md-12">

            <h2>Last reservations</h2>

            <div th:replace="main-template :: reservation-list (reservationsList=${lastReservationsList})"></div>

            <div th:replace="main-template :: button-view-more-reservations"></div>

        </div>

        <!-- Last customers registered -->

        <div class="col-md-12">

            <h2>Last customers registered</h2>

            <div th:replace="main-template :: customers-list(customersList=${lastCustomersList})"></div>

            <div th:replace="main-template :: button-view-all-customers"></div>

        </div>

        <!-- Last messages -->

        <div class="col-md-12">

            <h2>Last messages</h2>

            <div th:replace="main-template :: messages-list(messagesList=${lastMessagesList})"></div>

            <div th:replace="main-template :: button-view-all-messages"></div>

        </div>

    </div>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

    <!--<div th:replace="fragments/show-debug :: debug"></div>-->

</div>


</body>
</html>