<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <div th:replace="fragments/headers"></div>

    <script>
       /* $(function () {


        }); */
    </script>

</head>
<body>


<!-- include nav bar -->
<div th:replace="fragments/navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Lasts reservations</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone number</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="reservation : ${reservationList}">
                    <td th:text="${reservation.getCustomer().getFirstname()}"></td>
                    <td th:text="${reservation.getCustomer().getLastname()}"></td>
                    <td th:text="${reservation.getCustomer().getPhonenumber()}"></td>
                    <td th:text="${reservation.getBegin()}"></td>
                    <td th:text="${reservation.getEnd()}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>