<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Dashboard</title>

    <script th:replace="main-template :: page-headers"></script>
    <!--<link rel="stylesheet" type="text/css" href="/assets/css/debug.css"/>-->

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="mainmenu" th:each="row : ${menuRows}">

        <!-- Row header -->
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="caption h3 menu-row-title">
                    <span th:text="${row.getTitle()}"></span>
                </div>
            </div>
        </div>

        <!-- Menu elements -->
        <div class="row">

            <div class="hidden-xs hidden-sm col-md-3">&nbsp;</div>

            <div th:each="menu : ${row.getItems()}" class="col-sm-3 col-md-2 main-menu-item">
                <a th:href="${menu.getHref()}">
                    <img th:src="${menu.getImage()}" th:alt="${menu.getName()}"/>
                    <div class="caption">
                        <span text-align="center" th:text="${menu.getName()}"></span>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

    <div th:remove="tag" th:utext="${trackingCode}"></div>

    <!--<div th:replace="fragments/show-debug :: debug"></div>-->

</div>


</body>
</html>