<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Dashboard</title>

    <script th:replace="main-template :: page-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Welcome</h1>
        </div>
    </div>

    <div class="mainmenu" th:each="row : ${menuRows}">

        <!-- Row header -->
        <div class="row">
            <div class="row">
                <div class="col-md-12 hidden-sm hidden-xs">
                    <div class="caption h3" style="text-align: left; padding-left: 1em;">
                        <span th:text="${row.getTitle()}"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu elements -->
        <div class="row">

            <div class="col-sm-2 col-md-2"></div>

            <div class="col-sm-4 col-md-2 col-md-offset-1" th:each="menu : ${row.getItems()}">
                <div class="thumbnail">
                    <a th:href="${menu.getHref()}">
                        <img th:src="${menu.getImage()}" alt="tile"/>
                        <div class="caption">
                            <span text-align="center" th:text="${menu.getName()}"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

    <!--<div th:replace="fragments/show-debug :: debug"></div>-->

</div>


</body>
</html>