<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Message saved</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script th:replace="main-template :: page-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1>Message saved</h1>

            <div th:text="${createMessageForm}"></div>
            <div th:text="${message}"></div>
            <div th:text="${errorMessage}"></div>

        </div>

    </div>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

</div>

</body>
</html>