<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script th:replace="main-template :: page-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1>New message</h1>

            <div th:replace="fragments/message-form :: message-form"></div>

            <!--<div th:replace="fragments/show-debug"></div>-->

        </div>

    </div>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

</div>

</body>
</html>