<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservation saved</title>

    <script th:replace="main-template :: page-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1>Reservation saved</h1>

            <div th:text="${createReservationForm}"></div>
            <div th:text="${reservationResult}"></div>
            <div th:text="${customer}"></div>
            <div th:text="${reservation}"></div>
            <div th:text="${errorMessage}"></div>

        </div>

    </div>
</div>

</body>
</html>