<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a reservation</title>

    <script th:replace="main-template :: page-headers"></script>
    <script th:replace="fragments/reservation-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h1>Reservation</h1>

            <div th:replace="fragments/reservation-form"></div>

        </div>

    </div>
</div>

</body>
</html>