<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Last reservations</title>

    <script th:replace="main-template :: page-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Lasts reservations</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone number</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="reservation : ${reservationList}">
                    <td th:text="${reservation.getCustomer().getFirstname()}"></td>
                    <td th:text="${reservation.getCustomer().getLastname()}"></td>
                    <td th:text="${reservation.getCustomer().getPhonenumber()}"></td>
                    <td th:text="${reservation.getBegin()}"></td>
                    <td th:text="${reservation.getEnd()}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>