<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservation calendar</title>

    <script th:replace="main-template :: page-headers"></script>

    <script th:replace="fragments/calendar-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Calendar</h1>

            <div id='calendar' style="margin: auto"></div>

        </div>
    </div>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

    <script>
        $(function () {
            CalendarUtils.createReservationCalendar("#calendar");
        });
    </script>

</div>

</body>
</html>