<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="/assets/scripts/calendar-utils.js"></script>
    <div th:replace="fragments/headers"></div>

    <script>

        $(function(){

            CalendarUtils.createCalendar("#calendar");

        });

    </script>

</head>
<body>


<!-- include nav bar -->
<div th:replace="fragments/navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Calendar</h1>

            <div id='calendar' style="height: 500px"></div>

        </div>
    </div>
</div>

</body>
</html>