<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Latest billed services</title>

    <script th:replace="main-template :: page-headers"></script>

    <script th:replace="fragments/service-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1>Latest billed services</h1>

            <div th:replace="main-template :: services-list (servicesList=${servicesList})"></div>

        </div>
    </div>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

</div>

</body>
</html>