<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Service form</title>

    <script th:replace="main-template :: page-headers"></script>

    <script th:replace="fragments/service-type-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="col-md-12">
        <h1>Service</h1>
    </div>

    <div class="row" th:if="${#strings.isEmpty(formstate)}">
        <div class="col-md-12">
            <div th:replace="fragments/service-type-form :: service-type-form"></div>
        </div>
    </div>

    <div class="row" th:if="${formstate?.equals('completed')}">
        <div class="col-md-12">

            <!-- Error happen when saved -->

            <div th:if="${not #strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: error-block (errorMessage=${errorMessage})"></div>
            </div>

            <!-- Service saved -->

            <div th:if="${#strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: information-block (informationMessage=${'Service saved'})"></div>
            </div>

            <div th:if="${#strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: service-type-simple (serviceType=${serviceType})"></div>
            </div>

        </div>
    </div>



    <div class="row" th:if="${formstate?.equals('deleted')}">
        <div class="col-md-12">

            <!-- Error happen -->

            <div th:if="${not #strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: error-block (errorMessage=${errorMessage})"></div>
            </div>

            <!-- No errors -->

            <div th:if="${#strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: information-block (informationMessage=${'Service deleted'})"></div>
            </div>

        </div>
    </div>

    <!--<div th:replace="fragments/show-debug :: debug"></div>-->

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

</div>

</body>
</html>