<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Services</title>

    <script th:replace="main-template :: page-headers"></script>

    <script th:replace="fragments/resource-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row" th:if="${#strings.isEmpty(formstate)}">
        <div class="col-md-12">

            <h1>Services</h1>

        </div>
    </div>


    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

</div>

</body>
</html>