<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Service calendar</title>

    <script th:replace="main-template :: page-headers"></script>

    <script th:replace="fragments/calendar-headers"></script>
    <script th:replace="fragments/service-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Scheduled services calendar</h1>
        </div>
    </div>

    <div class="row" style="margin-bottom: 1em">
        <div class="col-md-12 light-warning">
            Warning: only scheduled services appear here.
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id='serviceCalendar' style="margin: auto"></div>
        </div>
    </div>

    <script>
        $(function () {
            CalendarUtils.createServiceCalendar("#serviceCalendar");
        });
    </script>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

</div>

</body>
</html>