<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>View bill</title>

    <script th:replace="main-template :: page-headers"></script>

    <script th:replace="fragments/customer-headers"></script>
    <script th:replace="fragments/reservation-headers"></script>
    <script th:replace="fragments/service-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>View bill</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <form id="exportHtmlForm" th:action="${mappings.get('CUSTOMERS_BILL_PRINT')}" method="post">
                <table class="formtable">

                    <!-- User search -->

                    <tr>
                        <td style="vertical-align: top; width: 20%;">
                            <h4>Customer:</h4>
                        </td>

                        <td>
                            <input class="form-control" type="text" placeholder="Customer name or first name"
                                   id="exportHtmlClientSeachTextField"/>
                            <input type="hidden" id="exportHtmlCustomerId" name="customerId"/>
                        </td>
                    </tr>

                    <!-- Select items to bill -->

                    <tr>
                        <td style="vertical-align: top;">
                            <h4>Non-billed items:</h4>
                        </td>
                        <td id="exportHtmlCheckboxesArea">
                            <ul style="list-style: none" id="exportHtmlReservationsResult">

                            </ul>
                            <ul style="list-style: none" id="exportHtmlServicesResult">

                            </ul>
                            <div id="exportHtmlDatesWarning"></div>
                        </td>
                    </tr>

                    <!-- Already billed items -->

                    <tr>
                        <td style="vertical-align: top;">
                            <h4>Already billed items:</h4>
                        </td>
                        <td>
                            <ul style="list-style: none" id="exportHtmlOldReservationsResult">

                            </ul>
                            <ul style="list-style: none" id="exportHtmlOldServicesResult">

                            </ul>
                        </td>
                    </tr>

                    <!-- Buttons -->

                    <tr>
                        <td colspan="2" style="text-align: right">
                            <button type="button" id="exportHtmlSelectAllDates" class="btn btn-primary">
                                Select all non-billed items
                            </button>
                            <button type="button" id="exportHtmlValidButton" class="btn btn-primary">
                                Mark as paid and export
                            </button>
                        </td>
                    </tr>

                </table>
            </form>
        </div>

    </div>

    <script src="/assets/scripts/customer-bill-form.js"></script>

    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

    <!--<div th:replace="fragments/show-debug :: debug"></div>-->

</div>


</body>
</html>