<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page-headers" th:remove="tag">

    <!--<title>Do not put title here</title>-->

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="/assets/img/favicon/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="/bower_components/jquery-ui/themes/base/jquery-ui.css"/>
    <link rel='stylesheet' href='/bower_components/fullcalendar/dist/fullcalendar.css'/>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap.themed/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/assets/bootstrap.themed/js/bootstrap.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src='/bower_components/moment/moment.js'></script>

    <script src="/assets/scripts/url-tree.js"></script>

    <script th:inline="javascript">
        UrlTree.setRoomsAvailableFeedUrl(/*[[${mappings.get('RESERVATION_ROOMS_AVAILABLE_JSON_GET')}]]*/ "/wrong/json/feed");
        UrlTree.setCalendarFeedUrl(/*[[${mappings.get('RESERVATION_JSON_GET')}]]*/ "/wrong/json/feed");
        UrlTree.setShowReservationUrl(/*[[${mappings.get('RESERVATION_FORM')}]]*/ "/wrong/json/feed");
        UrlTree.setDeleteReservationUrl(/*[[${mappings.get('RESERVATION_DELETE')}]]*/ "/wrong/json/feed");
    </script>

</head>
<body>

<nav class="navbar navbar-default" th:fragment="navbar">
    <div class="container-fluid">

        <!-- Brand -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="width: 20%">
                <img style="vertical-align:middle; height: 100%" src="/assets/img/logo.svg"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a th:href="${mappings.get('APPLICATION_ROOT')}">Dashboard</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Reservations <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${mappings.get('RESERVATION_CALENDAR')}">Calendar</a></li>
                        <li><a th:href="${mappings.get('RESERVATION_LASTS')}">Lasts reservations</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="${mappings.get('RESERVATION_FORM')}">Make a reservation</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Rooms <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${mappings.get('ROOMS_SHOW')}">Show all</a></li>
                        <li><a th:href="${mappings.get('ROOMS_FORM')}">Add a room</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Customers <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${mappings.get('CUSTOMERS_SHOW_ALL')}">Show all</a></li>
                        <li><a th:href="${mappings.get('CUSTOMERS_SEARCH')}">Search</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Messages <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${mappings.get('MESSAGES_SHOW_ALL')}">Show all</a></li>
                        <li><a th:href="${mappings.get('MESSAGES_FORM')}">New message</a></li>
                    </ul>
                </li>

            </ul>

            <form class="form-inline" th:action="${mappings.get('LOGOUT_URL')}" method="post">
                <button type="submit" class="btn btn-warning my-2 my-sm-0" style="float: right; margin-top: 0.4em">Sign
                    out
                </button>
            </form>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">

    <!--

    PAGE CONTENT

    -->

    <!-- Titles -->
    <div class="row">

        <div class="col-md-12">
            <h1>Page title</h1>
        </div>

    </div>

    <!-- Normal text -->
    <div class="row">
        <div class="col-md-12">
            <b>Static content used for natural templates.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec a diam lectus. Sed sit amet ipsum
            mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.
            Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem
            lacinia consectetur. Donec ut
            libero sed arcu vehicula ultricies a non tortor.
        </div>
    </div>

    <!--

         Partial elements

    -->

    <!-- Customers -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Customers list</h2>

            <table class="table table-striped" th:fragment="customers-list">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone number</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="customer : ${customersList}">
                    <td th:text="${customer.getFirstname()}">Jean</td>
                    <td th:text="${customer.getLastname()}">Claude</td>
                    <td th:text="${customer.getPhonenumber()}">+000002</td>
                </tr>

                <tr th:if="${#lists.isEmpty(customersList)}">
                    <td colspan="20"><i>No customers found</i></td>
                </tr>

                </tbody>
            </table>

            <div th:fragment="button-view-all-customers" style="text-align: right; margin: 1em;">
                <a th:href="${mappings.get('CUSTOMERS_SHOW_ALL')}" class="btn btn-info btn-sm"
                   style="display: inline-block">View all customers</a>
            </div>

        </div>
    </div>

    <!-- Reservations -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Reservations list</h2>

            <table class="table table-striped" th:fragment="reservation-list">
                <thead>
                <tr>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone number</th>
                    <th>Resource</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="reservation : ${reservationsList}">
                    <td th:text="${#dates.format(reservation.getBegin(), 'dd/MM/yyyy')}">01/01/2016</td>
                    <td th:text="${#dates.format(reservation.getEnd(), 'dd/MM/yyyy')}">05/01/2016</td>
                    <td th:text="${reservation.getCustomer().getFirstname()}">Jean</td>
                    <td th:text="${reservation.getCustomer().getLastname()}">Claude</td>
                    <td th:text="${reservation.getCustomer().getPhonenumber()}">+000002</td>
                    <td th:text="${reservation.getResource().getName()}">A2</td>
                    <td><a th:href="${mappings.get('RESERVATION_FORM') + '?id=' + reservation.getId()}"
                           class="glyphicon glyphicon-chevron-right"></a></td>
                </tr>

                <tr th:if="${#lists.isEmpty(reservationsList)}">
                    <td colspan="20"><i>No reservations found</i></td>
                </tr>

                </tbody>
            </table>

            <h2>Reservation simple</h2>

            <table class="table table-striped" th:fragment="reservation-simple">
                <tr>
                    <td style="width: 20%">Check-in:</td>
                    <td th:text="${#dates.format(reservation.getBegin(), 'dd/MM/yyyy')}">05/01/2016</td>
                </tr>
                <tr>
                    <td>Check-out:</td>
                    <td th:text="${#dates.format(reservation.getEnd(), 'dd/MM/yyyy')}">05/01/2016</td>
                </tr>
                <tr>
                    <td>Resource:</td>
                    <td th:text="${reservation.getResource().getName()}">A2</td>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td th:text="${reservation.getCustomer().getFirstname()}">Jean</td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td th:text="${reservation.getCustomer().getLastname()}">Paul</td>
                </tr>
                <tr>
                    <td>Phone number:</td>
                    <td th:text="${reservation.getCustomer().getPhonenumber()}">+00000222</td>
                </tr>
            </table>

            <div th:fragment="button-view-more-reservations" style="text-align: right; margin: 1em;">
                <a th:href="${mappings.get('RESERVATION_LASTS')}" class="btn btn-info btn-sm"
                   style="display: inline-block">View more reservations</a>
            </div>

        </div>
    </div>

    <!-- Checkouts -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Checkouts list</h2>

            <table class="table table-striped" th:fragment="checkouts-list">
                <thead>
                <tr>
                    <th>Resource</th>
                    <th>Check-in</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone number</th>
                    <th>Check-out</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="reservation : ${reservationsList}">
                    <td th:text="${reservation.getResource().getName()}">A2</td>
                    <td th:text="${#dates.format(reservation.getBegin(), 'dd/MM/yyyy')}">01/01/2016</td>
                    <td th:text="${reservation.getCustomer().getFirstname()}">Jean</td>
                    <td th:text="${reservation.getCustomer().getLastname()}">Claude</td>
                    <td th:text="${reservation.getCustomer().getPhonenumber()}">+000002</td>
                    <td th:text="${#dates.format(reservation.getEnd(), 'dd/MM/yyyy')}">05/01/2016</td>
                    <td><a th:href="${mappings.get('RESERVATION_FORM') + '?id=' + reservation.getId()}"
                           class="glyphicon glyphicon-chevron-right"></a></td>
                </tr>

                <tr th:if="${#lists.isEmpty(reservationsList)}">
                    <td colspan="20"><i>No reservations found</i></td>
                </tr>

                </tbody>
            </table>


            <div th:fragment="button-view-more-checkouts" style="text-align: right; margin: 1em;">
                <a th:href="${mappings.get('RESERVATION_NEXT_CHECKOUTS')}" class="btn btn-info btn-sm"
                   style="display: inline-block">View more checkouts</a>
            </div>

        </div>
    </div>

    <!-- Messages -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Messages small</h2>

            <div class="card card-message-small" th:fragment="message-small">
                <div class="card-block">
                    <h4 class="card-title" th:text="${#dates.format(message.getDate(), 'dd/MM/yyyy')}">Small message / Date / Writer</h4>
                    <p class="card-text" th:text="${#strings.substring(message.getMessage(), 0, 200) + '...'}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum
                        mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis
                        dolor....
                    </p>
                    <div style="text-align: right">
                        <a th:href="${mappings.get('MESSAGES_SHOW_BY_ID') + '?id=' + message.getId()}" class="btn btn-info btn-sm" style="display: inline-block;">
                            View
                        </a>
                    </div>
                </div>
            </div>

            <div th:fragment="button-view-all-messages" style="text-align: right; margin: 1em;">
                <a th:href="${mappings.get('MESSAGES_SHOW_ALL')}" class="btn btn-info btn-sm" style="display: inline-block">View all messages</a>
            </div>

        </div>
    </div>

    <!-- Messages list -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Message lists</h2>

            <table class="table table-striped" th:fragment="messages-list">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Message</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="message : ${messagesList}">
                    <td th:text="${#dates.format(message.getDate(), 'dd/MM/yyyy')}">Date</td>
                    <td th:text="${#strings.substring(message.getMessage(), 0, 100) + '...'}">Message</td>
                    <td><a th:href="${mappings.get('MESSAGES_SHOW_BY_ID') + '?id=' + message.getId()}"
                           class="glyphicon glyphicon-chevron-right"></a></td>
                </tr>

                <tr th:if="${#lists.isEmpty(messagesList)}">
                    <td colspan="20"><i>No messages found</i></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

    <!-- Footer -->
    <div class="row footer" th:fragment="footer">

        <div class="col-md-12">
            &copy; 2017 <a href="https://github.com/remipassmoilesel" target="_blank">@Remipassmoilesel</a>
        </div>

    </div>

    <!--<div th:replace="fragments/show-debug :: debug"></div>-->

</div>

</body>
</html>