<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page-headers" th:remove="tag">

    <!--<title>Do not put title here</title>-->

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicon/android-icon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png"/>
    <link rel="manifest" href="/assets/img/favicon/manifest.json"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Never put Bootstrap elements after JQuery elements -->

    <link rel='stylesheet' href='/bower_components/fullcalendar/dist/fullcalendar.min.css'/>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap.themed/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/jquery-ui/themes/base/jquery-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/components-font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap.themed/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src='/bower_components/moment/min/moment.min.js'></script>

    <script src="/assets/scripts/url-tree.js"></script>

    <script th:inline="javascript">
        UrlTree.setAccommodationsAvailableFeedUrl(/*[[${mappings.get('RESERVATIONS_ACCOMMODATIONS_AVAILABLE_JSON_GET')}]]*/ "/wrong/json/feed");
        UrlTree.setReservationCalendarFeedUrl(/*[[${mappings.get('RESERVATIONS_JSON_GET')}]]*/ "/wrong/json/feed");
        UrlTree.setServiceCalendarFeedUrl(/*[[${mappings.get('SERVICES_JSON_GET')}]]*/ "/wrong/json/feed");
        UrlTree.setShowReservationUrl(/*[[${mappings.get('RESERVATIONS_FORM')}]]*/ "/wrong/json/feed");
        UrlTree.setShowServiceUrl(/*[[${mappings.get('SERVICES_FORM')}]]*/ "/wrong/json/feed");
        UrlTree.setDeleteReservationUrl(/*[[${mappings.get('RESERVATIONS_DELETE')}]]*/ "/wrong/json/feed");
        UrlTree.setDeleteAccommodationUrl(/*[[${mappings.get('ACCOMMODATIONS_DELETE')}]]*/ "/wrong/json/feed");
        UrlTree.setCustomersJsonFeedUrl(/*[[${mappings.get('CUSTOMERS_JSON_SEARCH')}]]*/ "/wrong/json/feed");
        UrlTree.setExportReservationCsvUrl(/*[[${mappings.get('ADMINISTRATION_EXPORT_RESERVATIONS_CSV')}]]*/ "/wrong/json/feed");
        UrlTree.setExportServiceCsvUrl(/*[[${mappings.get('ADMINISTRATION_EXPORT_SERVICES_CSV')}]]*/ "/wrong/json/feed");
        UrlTree.setDeleteServiceUrl(/*[[${mappings.get('SERVICES_DELETE')}]]*/ "/wrong/json/feed");
        UrlTree.setDeleteServiceTypeUrl(/*[[${mappings.get('SERVICE_TYPES_DELETE')}]]*/ "/wrong/json/feed");
        UrlTree.setReservationSearchUrl(/*[[${mappings.get('RESERVATIONS_JSON_SEARCH')}]]*/ "/wrong/json/feed");
        UrlTree.setServiceSearchUrl(/*[[${mappings.get('SERVICES_JSON_SEARCH')}]]*/ "/wrong/json/feed");
        UrlTree.setMainMenuUrl(/*[[${mappings.get('APPLICATION_ROOT')}]]*/ "/wrong/json/feed");

        // enable tooltips on page
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

</head>
<body>

<nav class="navbar navbar-default" th:fragment="navbar">
    <div class="container-fluid">

        <!-- Brand -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Main menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="${mappings.get('APPLICATION_ROOT')}" style="width: 20%" data-tool="true"
               data-toggle="tooltip" title="Main menu">
                <img style="vertical-align:middle; height: 120%; margin-left: 1em;" src="/assets/img/logo.svg"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a th:href="${mappings.get('DASHBOARD')}">
                    <span class="fa fa-tachometer"></span>&nbsp;&nbsp;Dashboard</a></li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="fa fa-plus"></span>&nbsp;&nbsp;New <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${mappings.get('RESERVATIONS_FORM')}">New reservation</a></li>
                        <li><a th:href="${mappings.get('SERVICES_FORM')}">Bill a service</a></li>
                        <li><a th:href="${mappings.get('MESSAGES_FORM')}">New message</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="${mappings.get('ACCOMMODATIONS_FORM')}">New accommodation</a></li>
                        <li><a th:href="${mappings.get('SERVICES_FORM')}">New service type</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="fa fa-calendar"></span>&nbsp;&nbsp;Calendar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${mappings.get('RESERVATIONS_CALENDAR')}">Reservations</a></li>
                        <li><a th:href="${mappings.get('SERVICES_CALENDAR')}">Scheduled services</a></li>
                        <li><a th:href="${mappings.get('ACCOMMODATIONS_CALENDAR')}">Accommodations</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="fa fa-eye"></span>&nbsp;&nbsp;
                        Display <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${mappings.get('RESERVATIONS_NEXT_CHECKOUTS')}">Next check-outs</a></li>
                        <li><a th:href="${mappings.get('RESERVATIONS_LASTS')}">Latest reservations</a></li>
                        <li><a th:href="${mappings.get('SERVICES_SHOW_LASTS')}">Latest services</a></li>
                        <li><a th:href="${mappings.get('ACCOMMODATIONS_SHOW_ALL')}">Accommodations</a></li>
                        <li><a th:href="${mappings.get('MESSAGES_SHOW_ALL')}">Messages</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="fa fa-users"></span>&nbsp;&nbsp;Customer <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="${mappings.get('CUSTOMERS_SEARCH')}">Search</a></li>
                        <li><a th:href="${mappings.get('CUSTOMERS_BILL_FORM')}">Bill a customer</a></li>
                        <li><a th:href="${mappings.get('CUSTOMERS_SHOW_ALL')}">View latest</a></li>
                    </ul>
                </li>

                <li><a th:href="${mappings.get('ADMINISTRATION_ROOT')}">
                    <span class="fa fa-cog"></span>&nbsp;&nbsp;Administration</a></li>
            </ul>

            <form class="form-inline" th:action="${mappings.get('LOGOUT_URL')}" method="post">
                <button type="submit" class="btn btn-warning my-2 my-sm-0" style="float: right; margin: 0.4em ">
                    Sign out
                </button>
            </form>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">

    <!--

    PAGE CONTENT

    -->

    <!-- Titles -->
    <div class="row">

        <div class="col-md-12">
            <h1>Page title</h1>
        </div>

    </div>

    <!-- Normal text -->
    <div class="row">
        <div class="col-md-12">
            <b>Static content used for natural templates.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec a diam lectus. Sed sit amet ipsum
            mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor.
            Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem
            lacinia consectetur. Donec ut
            libero sed arcu vehicula ultricies a non tortor.
        </div>
    </div>

    <!-- Resources -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Accommodations list</h2>

            <table class="table table-striped" th:fragment="accommodations-list">
                <thead>
                <tr>
                    <th style="width: 15%">Name</th>
                    <th>Type</th>
                    <th>Comment</th>
                    <th style="width: 5em">&nbsp;</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="accommodation : ${accommodationsList}">
                    <td th:text="${accommodation.getName()}"
                        th:style="${'color:' + accommodation.getHexadecimalColor()}">Room name
                    </td>
                    <td th:text="${accommodation.getType().getReadableName()}" style="width: 5em">Room</td>
                    <td th:text="${accommodation.getComment()}">Comment</td>

                    <td>
                        <a th:href="${mappings.get('RESERVATIONS_BY_ACCOMMODATION') + '?id=' + accommodation.getId()}"
                           data-toggle="tooltip" data-placement="left" title="Show reservations ..."
                           class="glyphicon glyphicon-search"></a>
                        &nbsp;&nbsp;
                        <a th:href="${mappings.get('ACCOMMODATIONS_FORM') + '?id=' + accommodation.getId()}"
                           data-toggle="tooltip" title="Edit ..."
                           class="glyphicon glyphicon-edit"></a></td>
                </tr>

                <tr th:if="${#lists.isEmpty(accommodationsList)}">
                    <td colspan="20"><i>No accommodations found</i></td>
                </tr>

                </tbody>
            </table>

            <h2>Accommodation simple</h2>

            <table class="table table-striped" th:fragment="accommodation-simple">

                <tr>
                    <td style="width: 20%">Name:</td>
                    <td th:text="${accommodation?.getName()}"
                        th:style="${'color:' + accommodation?.getHexadecimalColor()}">Accommodation name
                    </td>
                </tr>

                <tr>
                    <td>Type:</td>
                    <td th:text="${accommodation?.getType().getReadableName()}" style="width: 5em">
                        Accommodation type
                    </td>
                </tr>

                <tr>
                    <td>Comment:</td>
                    <td th:text="${accommodation?.getComment()}">Comment</td>
                </tr>

            </table>

        </div>
    </div>

    <!-- Information block -->

    <div class="row">
        <div class="col-md-12">

            <div class="errorMessageBlock alert alert-warning" th:fragment="error-block">

                <h4>
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    &nbsp;&nbsp;
                    <span th:text="${errorMessage}">Error message</span>
                </h4>

                <p style="margin-top: 2em"><b>What can you do ?</b></p>

                <p>If you are using a form, verify that the values are consistent, an try to resend it.</p>

                <p> If nothing goes better, try returning to the <a th:href="${mappings.get('APPLICATION_ROOT')}">main
                    menu</a>
                    and repeating your operation. If this error persists, report it to the developer of this software:
                    <a href="https://github.com/remipassmoilesel" target="_blank">@Remipassmoilesel</a></p>

            </div>


            <div class="informationMessageBlock alert alert-info" th:fragment="information-block">

                <h4>
                    <span class="glyphicon glyphicon-send"></span>
                    &nbsp;&nbsp;
                    <span th:text="${informationMessage}">Information message</span>
                </h4>

            </div>

            <div class="adviceBlock" th:fragment="advice-block">

                <span class="glyphicon glyphicon-info-sign"></span>
                &nbsp;&nbsp;
                <span th:text="${adviceMessage}">Advice message.</span>

            </div>

        </div>
    </div>


    <!-- Customers -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Customers list</h2>

            <table class="table table-striped" th:fragment="customers-list">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone number</th>
                    <th style="width: 10em"></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="customer : ${customersList}">
                    <td th:text="${customer.getFirstname()}">Jean</td>
                    <td th:text="${customer.getLastname()}">Claude</td>
                    <td th:text="${customer.getPhonenumber()}">+000002</td>
                    <td>
                        <a th:href="${mappings.get('SERVICES_BY_CUSTOMER') + '?id=' + customer.getId()}"
                           data-toggle="tooltip" data-placement="left" title="Show services ..."
                           class="fa fa-coffee"></a>
                        &nbsp;&nbsp;
                        <a th:href="${mappings.get('RESERVATIONS_BY_CUSTOMER') + '?id=' + customer.getId()}"
                           data-toggle="tooltip" data-placement="left" title="Show reservations ..."
                           class="fa fa-home"></a>
                        &nbsp;&nbsp;
                        <a th:href="${mappings.get('CUSTOMERS_BILL_FORM') + '?id=' + customer.getId()}"
                           data-toggle="tooltip" data-placement="left" title="Bill customer ..."
                           class="fa fa-usd"></a>
                        &nbsp;&nbsp;
                        <a th:href="${mappings.get('CUSTOMERS_FORM') + '?id=' + customer.getId()}"
                           class="glyphicon glyphicon-edit"></a></td>

                </tr>

                <tr th:if="${#lists.isEmpty(customersList)}">
                    <td colspan="20"><i>No customers found</i></td>
                </tr>

                </tbody>
            </table>

            <div th:fragment="button-view-all-customers" style="text-align: right; margin: 1em;">
                <a th:href="${mappings.get('CUSTOMERS_SHOW_ALL')}" class="btn btn-info btn-sm"
                   style="display: inline-block">View all customers</a>
            </div>

            <table class="table table-striped" th:fragment="customer-simple">

                <tr>
                    <td style="width: 20%">First name:</td>
                    <td th:text="${customer?.getFirstname()}">First name</td>
                </tr>

                <tr>
                    <td>Last name:</td>
                    <td th:text="${customer?.getLastname()}">Last name</td>
                </tr>

                <tr>
                    <td>Phone number:</td>
                    <td th:text="${customer?.getPhonenumber()}">Comment</td>
                </tr>

            </table>

        </div>
    </div>

    <!-- Services -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Service types list</h2>

            <table class="table table-striped" th:fragment="service-types-list">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Comment</th>
                    <th style="width: 5em"></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="serviceType: ${serviceTypesList}">
                    <td th:text="${serviceType.getName()}"
                        th:style="${'width: 15%; color:' + serviceType.getHexadecimalColor()}">Pressing
                    </td>
                    <td th:text="${serviceType.getPrice()}">15</td>
                    <td th:text="${serviceType.getComment()}">Comment</td>
                    <td>
                        <a th:href="${mappings.get('SERVICES_BY_TYPE') + '?id=' + serviceType.getId()}"
                           data-toggle="tooltip" data-placement="left" title="Show services ..."
                           class="glyphicon glyphicon-search"></a>
                        &nbsp;&nbsp;
                        <a th:href="${mappings.get('SERVICE_TYPES_FORM') + '?id=' + serviceType.getId()}"
                           class="glyphicon glyphicon-edit"></a></td>

                </tr>

                <tr th:if="${#lists.isEmpty(serviceTypesList)}">
                    <td colspan="20"><i>No services found</i></td>
                </tr>

                </tbody>
            </table>

            <h2>Service type simple</h2>

            <table class="table table-striped" th:fragment="service-type-simple">

                <tr>
                    <td style="width: 20%">Name:</td>
                    <td th:text="${serviceType.getName()}"
                        th:style="${'color:' + serviceType?.getHexadecimalColor()}">Pressing
                    </td>
                </tr>

                <tr>
                    <td>Price:</td>
                    <td th:text="${serviceType?.getPrice()}">15</td>
                </tr>

                <tr>
                    <td>Comment:</td>
                    <td th:text="${serviceType?.getComment()}">Comment</td>
                </tr>

            </table>

            <h2>Service simple</h2>

            <table class="table table-striped" th:fragment="service-simple">

                <tr>
                    <td style="width: 20%">Service:</td>
                    <td th:text="${service?.getServiceType().getName()}"
                        th:style="${'color:' + service?.getServiceType().getHexadecimalColor()}">Pressing
                    </td>
                </tr>

                <tr>
                    <td>Customer:</td>
                    <td th:text="${service?.getCustomer().getNameString()}">Jean Claude</td>
                </tr>

                <tr>
                    <td>Total price:</td>
                    <td th:text="${service?.getTotalPrice()}">15</td>
                </tr>

                <tr>
                    <td>Comment:</td>
                    <td th:text="${service?.getComment()}">Comment</td>
                </tr>

                <tr>
                    <td>Scheduled:</td>
                    <td th:text="${service?.isScheduled()}">True</td>
                </tr>

                <tr>
                    <td>Execution date:</td>
                    <td th:text="${#dates.format(service?.getExecutionDate(), 'dd/MM/yyyy HH:mm')}">True</td>
                </tr>

            </table>

            <h2>Service list</h2>

            <table class="table table-striped" th:fragment="services-list">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Customer</th>
                    <th>Price</th>
                    <th>Paid</th>
                    <th style="width: 50%">Comment</th>
                    <th style="width: 5em"></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="service: ${servicesList}">
                    <td th:text="${service.getServiceType().getName()}"
                        th:style="${'color:' + service.getServiceType().getHexadecimalColor()}">Pressing
                    </td>
                    <td th:text="${service.getCustomer().getNameString()}">Jean Claude</td>
                    <td th:text="${service.getTotalPrice()}">15</td>
                    <td class="fa" th:classappend="${service.isPaid()} ? 'fa-check' : 'fa-times'" th:text="''">X</td>
                    <td th:text="${service.getComment().length() > 200} ? ${#strings.substring(service.getComment(), 0, 200) + '...'} : ${service.getComment()}">Comment</td>
                    <td>
                        <a th:href="${mappings.get('SERVICES_FORM') + '?id=' + service.getId()}"
                           class="glyphicon glyphicon-edit"></a></td>

                </tr>

                <tr th:if="${#lists.isEmpty(servicesList)}">
                    <td colspan="20"><i>No services found</i></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

    <!-- Reservations -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Reservations list</h2>

            <table class="table table-striped" th:fragment="reservation-list">
                <thead>
                <tr>
                    <th>Check-in</th>
                    <th>Check-out</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone number</th>
                    <th>Accommodation</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="reservation : ${reservationsList}">
                    <td th:text="${#dates.format(reservation.getBegin(), 'dd/MM/yyyy')}">01/01/2016</td>
                    <td th:text="${#dates.format(reservation.getEnd(), 'dd/MM/yyyy')}">05/01/2016</td>
                    <td th:text="${reservation.getCustomer().getFirstname()}">Jean</td>
                    <td th:text="${reservation.getCustomer().getLastname()}">Claude</td>
                    <td th:text="${reservation.getCustomer().getPhonenumber()}">+000002</td>
                    <td th:text="${reservation.getAccommodation().getName()}">A2</td>
                    <td><a th:href="${mappings.get('RESERVATIONS_FORM') + '?id=' + reservation.getId()}"
                           class="glyphicon glyphicon-edit"></a></td>
                </tr>

                <tr th:if="${#lists.isEmpty(reservationsList)}">
                    <td colspan="20"><i>No reservations found</i></td>
                </tr>

                </tbody>
            </table>

            <h2>Reservation simple</h2>

            <table class="table table-striped" th:fragment="reservation-simple">
                <tr>
                    <td style="width: 20%">Check-in:</td>
                    <td th:text="${#dates.format(reservation.getBegin(), 'dd/MM/yyyy HH:mm')}">05/01/2016</td>
                </tr>
                <tr>
                    <td>Check-out:</td>
                    <td th:text="${#dates.format(reservation.getEnd(), 'dd/MM/yyyy HH:mm')}">05/01/2016</td>
                </tr>
                <tr>
                    <td>Accommodation:</td>
                    <td th:text="${reservation.getAccommodation().getName()}">A2</td>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td th:text="${reservation.getCustomer().getFirstname()}">Jean</td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td th:text="${reservation.getCustomer().getLastname()}">Paul</td>
                </tr>
                <tr>
                    <td>Phone number:</td>
                    <td th:text="${reservation.getCustomer().getPhonenumber()}">+00000222</td>
                </tr>
                <tr>
                    <td>Total price:</td>
                    <td th:text="${reservation.getTotalPrice()}">5.2</td>
                </tr>
            </table>

            <div th:fragment="button-view-more-reservations" style="text-align: right; margin: 1em;">
                <a th:href="${mappings.get('RESERVATIONS_LASTS')}" class="btn btn-info btn-sm"
                   style="display: inline-block">View more reservations</a>
            </div>

        </div>
    </div>

    <!-- Checkouts -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Checkouts list</h2>

            <table class="table table-striped" th:fragment="checkouts-list">
                <thead>
                <tr>
                    <th>Accommodation</th>
                    <th>Check-out</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone number</th>
                    <th>Check-in</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="reservation : ${reservationsList}">
                    <td th:text="${reservation.getAccommodation().getName()}">A2</td>
                    <td th:text="${#dates.format(reservation.getEnd(), 'dd/MM/yyyy')}">05/01/2016</td>
                    <td th:text="${reservation.getCustomer().getFirstname()}">Jean</td>
                    <td th:text="${reservation.getCustomer().getLastname()}">Claude</td>
                    <td th:text="${reservation.getCustomer().getPhonenumber()}">+000002</td>
                    <td th:text="${#dates.format(reservation.getBegin(), 'dd/MM/yyyy')}">01/01/2016</td>
                    <td><a th:href="${mappings.get('RESERVATIONS_FORM') + '?id=' + reservation.getId()}"
                           class="glyphicon glyphicon-edit"></a></td>
                </tr>

                <tr th:if="${#lists.isEmpty(reservationsList)}">
                    <td colspan="20"><i>No reservations found</i></td>
                </tr>

                </tbody>
            </table>


            <div th:fragment="button-view-more-checkouts" style="text-align: right; margin: 1em;">
                <a th:href="${mappings.get('RESERVATIONS_NEXT_CHECKOUTS')}" class="btn btn-info btn-sm"
                   style="display: inline-block">View more checkouts</a>
            </div>

        </div>
    </div>

    <!-- Messages -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Messages small</h2>

            <div class="card card-message-small" th:fragment="message-small">
                <div class="card-block">
                    <h4 class="card-title" th:text="${#dates.format(message.getDate(), 'dd/MM/yyyy HH:mm')}">Small
                        message /
                        Date / Writer</h4>
                    <p class="card-text"
                       th:text="${message.getMessage().length() > 200} ? ${#strings.substring(message.getMessage(), 0, 200) + '...'} : ${message.getMessage()}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum
                        mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis
                        dolor....
                    </p>
                    <div style="text-align: right">
                        <a th:href="${mappings.get('MESSAGES_SHOW_BY_ID') + '?id=' + message.getId()}"
                           class="btn btn-info btn-sm" style="display: inline-block;">
                            View
                        </a>
                    </div>
                </div>
            </div>

            <div th:fragment="button-view-all-messages" style="text-align: right; margin: 1em;">
                <a th:href="${mappings.get('MESSAGES_SHOW_ALL')}" class="btn btn-info btn-sm"
                   style="display: inline-block">View all messages</a>
            </div>

            <div th:fragment="message-simple">
                <h4 th:text="${#dates.format(message.getDate(), 'dd/MM/yyyy HH:mm')}">Small message /Date / Writer</h4>
                <p>
                    <b>Message: </b>

                    <span th:text="${message.getMessage()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum
                    mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis
                    dolor....</span>
                </p>
            </div>

        </div>
    </div>

    <!-- Messages list -->

    <div class="row top-buffer">
        <div class="col-md-12">

            <h2>Message lists</h2>

            <table class="table table-striped" th:fragment="messages-list">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Message</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="message : ${messagesList}">
                    <td th:text="${#dates.format(message.getDate(), 'dd/MM/yyyy HH:mm')}">Date</td>
                    <td th:text="${#strings.substring(message.getMessage(), 0, 100) + '...'}">Message</td>
                    <td><a th:href="${mappings.get('MESSAGES_SHOW_BY_ID') + '?id=' + message.getId()}"
                           class="glyphicon glyphicon-edit"></a></td>
                </tr>

                <tr th:if="${#lists.isEmpty(messagesList)}">
                    <td colspan="20"><i>No messages found</i></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

    <!-- Footer -->
    <div class="row footer" th:fragment="footer">

        <div class="col-md-12">
            This software is <b>free as in freedom</b>, licensed under <a href="licence.html" target="_blank">GPLv3</a>.
            <br/>&nbsp; &copy; 2017 <a href="https://github.com/remipassmoilesel" target="_blank">@Remipassmoilesel</a>
        </div>

    </div>

    <!--<div th:replace="fragments/show-debug :: debug"></div>-->

</div>

</body>
</html>