<!DOCTYPE HTML>

<html>
<head>
    <title>/main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/markdown/lib/markdown.js"></script>
    <script src="scripts/main.js"></script>

</head>
<body>

# Serveur simplifié

Spring boot propose un serveur Tomcat simplifié pour développement:

```
    public static void main(String[] args) {
        SpringApplication.run(Application.class, args);
    }
```

# Mise à jour

Spring Boot surveille le classpath.

*   Pour mettre à jour des classes Java, éxecuter un "make" pour rafraichir le projet
*   Pour mettre à jour les templates thymeleaf, ajouter cette option dans application.properties

```
    spring.devtools.restart.additional-paths=src/main/resources/templates

    Ou alors en Java:

    System.setProperty("spring.template.cache", "false");

```

Erreurs possibles:

    java.lang.annotation.AnnotationFormatError: Invalid default:
        public abstract org.springframework.beans.factory.annotation.Autowire
        org.springframework.config.java.annotation.Configuration.defaultAutowire()


</body>

</html>