<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>/note </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h1>Liste des notes disponibles</h1>
<table>
    <tr th:each="name : ${notesList}">
        <td th:text="${name}"></td>
        <td><a th:attr="href='/notes/display/' + ${name}">html</a></td>
        <td><a th:attr="href='/notes/get/json/' + ${name}" target="_blank">json</a></td>
        <td><a th:attr="href='/notes/get/xml/' + ${name}" target="_blank">xml</a></td>
    </tr>
</table>

<!-- Use utext to insert unescaped text-->
<p th:utext="${currentNote.getHtml()}"/>

</body>
</html>