<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservation form</title>

    <script th:replace="main-template :: page-headers"></script>

    <script th:replace="fragments/reservation-headers"></script>

</head>
<body>

<!-- Navigation bar -->
<div th:replace="main-template :: navbar"></div>

<div class="container">

    <div class="row" th:if="${#strings.isEmpty(formstate)}">
        <div class="col-md-12">

            <h1>Reservation</h1>

            <div th:replace="fragments/reservation-form :: reservation-form"></div>

        </div>
    </div>

    <div class="row" th:if="${formstate?.equals('completed')}">
        <div class="col-md-12">

            <h1>Reservation saved</h1>

            <!-- Error happen when saved -->

            <div th:if="${not #strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: error-block (errorMessage=${errorMessage})"></div>
            </div>

            <!-- Reservation saved -->

            <div th:if="${#strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: information-block (informationMessage=${'Reservation saved'})"></div>
            </div>

            <div th:if="${#strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: reservation-simple (reservation=${reservation})"></div>
            </div>

        </div>
    </div>


    <div class="row" th:if="${formstate?.equals('deleted')}">
        <div class="col-md-12">

            <h1>Reservation deleted</h1>

            <!-- Error happen -->

            <div th:if="${not #strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: error-block (errorMessage=${errorMessage})"></div>
            </div>

            <!-- No errors -->

            <div th:if="${#strings.isEmpty(errorMessage)}">
                <div th:replace="main-template :: information-block (informationMessage=${'Reservation deleted'})"></div>
            </div>

        </div>
    </div>


    <!-- Footer -->
    <div th:replace="main-template :: footer"></div>

</div>

</body>
</html>